@font-face {
  font-family: "Bauhaus";
  src: url("@/assets/fonts/bauhaus/BauhausRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bauhaus";
  src: url("@/assets/fonts/bauhaus/BauhausItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bauhaus";
  src: url("@/assets/fonts/bauhaus/BauhausBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bauhaus";
  src: url("@/assets/fonts/bauhaus/BauhausBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bauhaus";
  src: url("@/assets/fonts/bauhaus/BauhausHeavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
